{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto IA</title>
</head>
<body>
    <form action="">
        <h2>Fiebre</h2>
        <select name="fiebre" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>
        <h2>Perdida Auditiva</h2>
        <select name="PerdAuditiva" id="">
            <option value="0">Nada</option>
            <option value="0.25">Poco</option>
            <option value="0.50">Bastante</option>
            <option value="1">Completamente</option>
        </select>
        <h2>Dolor de Oído</h2>
        <select name="dolorOido" id="">
            <option value="0">Nada</option>
            <option value="0.25">Poco</option>
            <option value="0.50">Bastante</option>
            <option value="1">Mucho</option>
        </select>
        <h2>Inflamación de Oído</h2>
        <select name="inflamacion" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>
        <h2>Mareos</h2>
        <select name="mareo" id="">
            <option value="0">Nada</option>
            <option value="0.50">Bastante</option>
            <option value="1">Mucho</option>
        </select>
        <h2>Vértigos</h2>
        <select name="mareo" id="">
            <option value="0">Nada</option>
            <option value="0.50">Bastante</option>
            <option value="1">Mucho</option>
        </select>
        <h2>Enrojecimiento del Oído</h2>
        <select name="enrojecimiento" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Fatiga</h2>
        <select name="fatiga" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Dificultades para Comunicarse</h2>
        <select name="difComunicacion" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Zumbidos en el Oído</h2>
        <select name="zumbidos" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Taponamiento de los oídos</h2>
        <select name="taponamiento" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Antecedentes Familiares</h2>
        <select name="antecedentes" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Picazión en el oído</h2>
        <select name="picazon" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Traumatismos</h2>
        <select name="traumas" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Sangrado en el Oído</h2>
        <select name="sangrado" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

    </form>
</body>
</html>