{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto IA</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="icon" href="../static/img/ear.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <form action="">
        <h2>Fiebre</h2>
        <select name="fiebre" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>
        <h2>Perdida Auditiva</h2>
        <select name="PerdAuditiva" id="">
            <option value="0">Nada</option>
            <option value="0.25">Poco</option>
            <option value="0.50">Bastante</option>
            <option value="1">Completamente</option>
        </select>
        <h2>Dolor de Oído</h2>
        <select name="dolorOido" id="">
            <option value="0">Nada</option>
            <option value="0.25">Poco</option>
            <option value="0.50">Bastante</option>
            <option value="1">Mucho</option>
        </select>
        <h2>Inflamación de Oído</h2>
        <select name="inflamacion" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>
        <h2>Mareos</h2>
        <select name="mareo" id="">
            <option value="0">Nada</option>
            <option value="0.50">Bastante</option>
            <option value="1">Mucho</option>
        </select>
        <h2>Vértigos</h2>
        <select name="mareo" id="">
            <option value="0">Nada</option>
            <option value="0.50">Bastante</option>
            <option value="1">Mucho</option>
        </select>
        <h2>Enrojecimiento del Oído</h2>
        <select name="enrojecimiento" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Fatiga</h2>
        <select name="fatiga" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Dificultades para Comunicarse</h2>
        <select name="difComunicacion" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Zumbidos en el Oído</h2>
        <select name="zumbidos" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Taponamiento de los oídos</h2>
        <select name="taponamiento" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Antecedentes Familiares</h2>
        <select name="antecedentes" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Picazión en el oído</h2>
        <select name="picazon" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Traumatismos</h2>
        <select name="traumas" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

        <h2>Sangrado en el Oído</h2>
        <select name="sangrado" id="">
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>

    </form>
</body>
</html>