{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen || Proyecto IA</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="icon" href="../static/img/ear.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background: -webkit-linear-gradient(to bottom, #ffffff, #bee1f1);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffffff, #bee1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
</style>
<body>
    <!-- Navbar Header -->
    <header style="width: -webkit-fill-available; z-index: 100;">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="../static/img/ear.png" height="30" alt="image">
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav3">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">                  
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'acerca' %}">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'instrucciones' %}">Instrucciones</a>
                        </li>
                        <li class="nav-item">
                            <strong><a class="nav-link" href="{% url 'index' %}">Examen</a></strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'autores' %}">Autores</a>
                        </li>
                    </ul>
                    
                    <!-- <a class="btn btn-outline-primary ml-md-3" href="#">High Scores</a> -->
                </div>
            </nav>
        </div>
    </header>
    
    <!-- Examen: Enfermedades Auditivas  -->
    <section class="fdb-block" id="menu">
        <div class="container" style="height: auto;">
            <div class="row text-center">
                <div class="col-12" style="margin-top: 1%;">
                    <h1 style="font-family: 'Special Elite', cursive; font-weight: bold;">Examen:</h1>
                    <h1 style="font-family: 'Special Elite', cursive; font-weight: bold;">Enfermedades Auditivas</h1>
                </div>
            </div>
            <div class="row text-left mt-3" style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column;">
                <div class="col-12 col-md">
                    <div class="row mb-5" style="border-radius: 20px; background: #cbeaff;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to top, #FFFFFF, #cbeaff);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to top, #FFFFFF, #cbeaff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    height: auto; padding: 20px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    
                    <!-- Pregunta #1 - Fiebre -->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">1. ¿Has tenido síntomas de fiebre (temperatura mayor a 37°C)? 🌡</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="fiebre" id="fiebre">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>  
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #2 - Pérdida Auditiva -->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">2. ¿Escuchas menos que antes o qué tanta pérdida auditiva sientes que has tenido? 🦻</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="PerdAuditiva" id="PerdAuditiva">
                                <option value="0">Nada</option>
                                <option value="0.25">Poco</option>
                                <option value="0.50">Bastante</option>
                                <option value="1">Completamente</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #3 - Dolor de Oído -->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">3. ¿Qué tanto dolor de oído has tenido los últimos días? 😖</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="dolorOido" id="dolorOido">
                                <option value="0">Nada</option>
                                <option value="0.25">Poco</option>
                                <option value="0.50">Bastante</option>
                                <option value="1">Mucho</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #4 - Inflamación de Oído -->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">4. ¿Sientes inflamación en los oídos? 🤒</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="inflamacion" id="inflamacion">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #5 - Mareos-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">5. ¿Padeces mareos actualmente? 😵</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="mareo" id="mareo">
                                <option value="0">Nada</option>
                                <option value="0.50">Bastante</option>
                                <option value="1">Mucho</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #6 - Vertigos-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">6. ¿Sientes vértigos? 😰</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="vertigos" id="vertigos">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #7 - Enrojecimiento de Oído-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">7. ¿Notas enrojecimiento en los oídos? 😡</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="enrojecimiento" id="enrojecimiento">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #8 - Fatiga-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">8. ¿Has tenido fatiga los últimos días? 😴</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="fatiga" id="fatiga">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>                    
                    
                    <!-- Pregunta #9 - Dificultades para Comunicarse-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">9. ¿Has presentado dificultades para comunicarse con las personas a tu alrededor? 🗣👂🏻</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="difComunicacion" id="difComunicacion">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #10 - Zumbidos-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">10. ¿Escuchas zumbidos en los oídos? 🥴</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="zumbidos" id="zumbidos">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #11 - Taponamientos de los Oídos-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">11. ¿Sientes tus oídos tapados? 👂🏻🔇</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="taponamiento" id="taponamiento">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #12 - Antecedentes Familiares-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">12. ¿Tienes antecedentes familiares que han padecido algún tipo de enfermedad auditiva? 👨‍👩‍👧‍👦</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="antecedentes" id="antecedentes">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #13 - Picazón en el Oído-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">13. ¿Sientes picazón en los oídos? 😫</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="picazon" id="picazon">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #14 - Traumatismos-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">14. ¿Has padecido algun tipo de traumatismo, golpe o lesión en los oídos los últimos días? 🤕</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="traumas" id="traumas">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Pregunta #15 - Sangrado en el Oído-->
                    <div class="col-12 mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <h4 class="mb-3 mb-4">15. ¿Han sangrado los oídos los últimos días? 🩸</h4>
                        <div class="h4" style="display: flex; width: -webkit-fill-available; justify-content: space-evenly;">
                            <select name="sangrado" id="sangrado">
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>                                         
                    </div>
                    
                    <!-- Regresar y Enviar Respuestas  -->
                    <div class="row mt-5 mb-3" style="width: -webkit-fill-available; display: flex; justify-content: space-evenly;">
                        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'instrucciones' %}' ";>Regresar</button>
                        <button onclick="almacenarValoresUsuario()" type="button" class="btn btn-success">Enviar Respuestas</button>
                    </div>              
                </div>
            </div>
        </section>     
        
    </body>
    </html>
    
    <script>
        
        function almacenarValoresUsuario() {
            var valoresUsuario = [];
            
            var fiebre = document.getElementById("fiebre").value;
            var perdAuditiva = document.getElementById("PerdAuditiva").value;
            var dolorOido = document.getElementById("dolorOido").value;
            var inflamacion = document.getElementById("inflamacion").value;
            var mareo = document.getElementById("mareo").value;
            var vertigos = document.getElementById("vertigos").value;
            var enrojecimiento = document.getElementById("enrojecimiento").value;
            var fatiga = document.getElementById("fatiga").value;
            var difComunicacion = document.getElementById("difComunicacion").value;
            var zumbidos = document.getElementById("zumbidos").value;
            var taponamiento = document.getElementById("taponamiento").value;
            var antecedentes = document.getElementById("antecedentes").value;
            var picazon = document.getElementById("picazon").value;
            var traumas = document.getElementById("traumas").value;
            var sangrado = document.getElementById("sangrado").value;
            
            
            valoresUsuario.push(fiebre, perdAuditiva, dolorOido, inflamacion, mareo, vertigos, enrojecimiento, fatiga, difComunicacion, zumbidos, taponamiento, antecedentes, picazon, traumas, sangrado);
                        
            // Diccionario del Módulo Precargado 
            var moduloPrecargado = {}; 
            
            // Función para sumar los valores de todos los elementos dentro de un arreglo 
            const reducer = (accumulator, curr) => accumulator + curr;
            
            // Suma de cada enfermedad en base al módulo de precargado             

            // TAPONES DE CERUMEN
            moduloPrecargado['taponesCerumen'] = [0, 0.5, 0, 0,	0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0];
            var sumaModuloPrecargadoTaponesCerumen = moduloPrecargado['taponesCerumen'].reduce(reducer);         
            
            // TINNITUS             
            moduloPrecargado['tinnitus'] = [0, 0.25, 0.25, 0, 0.5, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0];
            var sumaModuloPrecargadoTinnitus = moduloPrecargado['tinnitus'].reduce(reducer);       
            
            // OTOSCLEOROSIS
            moduloPrecargado['otosclerosis'] = [0, 0.5, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0];
            var sumaModuloPrecargadoOtoscleorosis = moduloPrecargado['otosclerosis'].reduce(reducer);         
            
            // OTEMATOMA
            moduloPrecargado['otematoma'] = [0, 0.5, 0.25, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1];
            var sumaModuloPrecargadoOtematoma = moduloPrecargado['otematoma'].reduce(reducer);         
            
            // DERMATITIS SEBORREICA
            moduloPrecargado['dermatitisSeborreica'] = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0];
            var sumaModuloPrecargadoDermatitisSeborreica = moduloPrecargado['dermatitisSeborreica'].reduce(reducer);         
            
            // OTITIS EXTERNA
            moduloPrecargado['otitisExterna'] = [0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0];
            var sumaModuloPrecargadoOtitisExterna = moduloPrecargado['otitisExterna'].reduce(reducer); 
            
            // PRESBIACUSIA
            moduloPrecargado['presbiacusia'] = [0, 0.25, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0];
            var sumaModuloPrecargadoPresbiacusia = moduloPrecargado['presbiacusia'].reduce(reducer);
            
            // COFOSIS
            moduloPrecargado['cofosis'] = [0, 0.5, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0];
            var sumaModuloPrecargadoCofosis = moduloPrecargado['cofosis'].reduce(reducer);
            
            // PERICONDRITIS
            moduloPrecargado['pericondritis'] = [1, 0.25, 0.5, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0];
            var sumaModuloPrecargadoPericondritis = moduloPrecargado['pericondritis'].reduce(reducer);
            
            // TRAUMATISMOS ACUSTICOS
            moduloPrecargado['traumatismosAcusticos'] = [0, 0.25, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0];
            var sumaModuloPrecargadoTraumatismosAcusticos = moduloPrecargado['traumatismosAcusticos'].reduce(reducer);
            
            // Recorre cada enfermedad en el diccionario de Módulo Precargado 
            for(var enfermedad in moduloPrecargado) {
                
                // Síntomas 
                var fiebre = moduloPrecargado[enfermedad][0];
                var perdAuditiva = moduloPrecargado[enfermedad][1];
                var dolorOido = moduloPrecargado[enfermedad][2];
                var inflamacion = moduloPrecargado[enfermedad][3];
                var mareo = moduloPrecargado[enfermedad][4];
                var vertigos = moduloPrecargado[enfermedad][5];
                var enrojecimiento = moduloPrecargado[enfermedad][6];
                var fatiga = moduloPrecargado[enfermedad][7];
                var difComunicacion = moduloPrecargado[enfermedad][8];
                var zumbidos = moduloPrecargado[enfermedad][9];
                var taponamiento = moduloPrecargado[enfermedad][10];
                var antecedentes = moduloPrecargado[enfermedad][11];
                var picazon = moduloPrecargado[enfermedad][12];
                var traumas = moduloPrecargado[enfermedad][13];
                var sangrado = moduloPrecargado[enfermedad][14];
                
                // Compara el valor de FIEBRE puesto por el Usuario                 
                if(valoresUsuario[0] != fiebre) {
                    moduloPrecargado[enfermedad][0] = 'f';
                } 
                
                // Compara el valor de PERDIDA AUDITIVA puesto por el Usuario 
                if(valoresUsuario[1] != perdAuditiva) {
                    moduloPrecargado[enfermedad][1] = 'f';
                }
                
                // Compara el valor de DOLOR DE OIDO puesto por el Usuario 
                if(valoresUsuario[2] != dolorOido) {
                    moduloPrecargado[enfermedad][2] = 'f';
                }
                
                // Compara el valor de INFLAMACIÓN puesto por el Usuario 
                if(valoresUsuario[3] != inflamacion) {
                    moduloPrecargado[enfermedad][3] = 'f';
                }
                
                // Compara el valor de MAREO puesto por el Usuario 
                if(valoresUsuario[4] != mareo) {
                    moduloPrecargado[enfermedad][4] = 'f';
                }
                
                // Compara el valor de VERTIGO puesto por el Usuario 
                if(valoresUsuario[5] != vertigos) {
                    moduloPrecargado[enfermedad][5] = 'f';
                }
                
                // Compara el valor de ENROJECIMIENTO puesto por el Usuario 
                if(valoresUsuario[6] != enrojecimiento) {
                    moduloPrecargado[enfermedad][6] = 'f';
                }
                
                // Compara el valor de FATIGA puesto por el Usuario 
                if(valoresUsuario[7] != fatiga) {
                    moduloPrecargado[enfermedad][7] = 'f';
                }
                
                // Compara el valor de DIFICULTAD DE COMUNICACIÓN puesto por el Usuario 
                if(valoresUsuario[8] != enrojecimiento) {
                    moduloPrecargado[enfermedad][8] = 'f';
                }
                
                // Compara el valor de ZUMBIDOS puesto por el Usuario 
                if(valoresUsuario[9] != zumbidos) {
                    moduloPrecargado[enfermedad][9] = 'f';
                }
                
                // Compara el valor de TAPONAMIENTO puesto por el Usuario 
                if(valoresUsuario[10] != taponamiento) {
                    moduloPrecargado[enfermedad][10] = 'f';
                }
                
                // Compara el valor de ANTECEDENTES puesto por el Usuario 
                if(valoresUsuario[11] != antecedentes) {
                    moduloPrecargado[enfermedad][11] = 'f';
                }
                
                // Compara el valor de PICAZON puesto por el Usuario 
                if(valoresUsuario[12] != picazon) {
                    moduloPrecargado[enfermedad][12] = 'f';
                }
                
                // Compara el valor de TRAUMAS puesto por el Usuario 
                if(valoresUsuario[13] != traumas) {
                    moduloPrecargado[enfermedad][13] = 'f';
                }
                
                // Compara el valor de SANGRADO puesto por el Usuario 
                if(valoresUsuario[14] != sangrado) {
                    moduloPrecargado[enfermedad][14] = 'f';
                }       
            }
            
            // Cálculo de la nueva suma por fila de Síntomas Acertados en base a lo que el usuario envió
            
            // TAPONES DE CERUMEN 
            var nuevaSumaSintomasTaponesCerumen = 0;
            for(var i in moduloPrecargado['taponesCerumen']) {
                if(moduloPrecargado['taponesCerumen'][i] != 'f'){
                    nuevaSumaSintomasTaponesCerumen += moduloPrecargado['taponesCerumen'][i];
                }
            }         
            
            // TINNITUS
            var nuevaSumaSintomasTinnitus = 0;
            for(var i in moduloPrecargado['tinnitus']) {
                if(moduloPrecargado['tinnitus'][i] != 'f'){
                    nuevaSumaSintomasTinnitus += moduloPrecargado['tinnitus'][i];
                }
            }
            
            // OTOSCLEROSIS---
            var nuevaSumaSintomasOtosclerosis = 0;
            for(var i in moduloPrecargado['otosclerosis']) {
                if(moduloPrecargado['otosclerosis'][i] != 'f'){
                    nuevaSumaSintomasOtosclerosis += moduloPrecargado['otosclerosis'][i];
                }
            }
            
            // OTEMATOMA
            var nuevaSumaSintomasOtematoma = 0;
            for(var i in moduloPrecargado['otematoma']) {
                if(moduloPrecargado['otematoma'][i] != 'f'){
                    nuevaSumaSintomasOtematoma += moduloPrecargado['otematoma'][i];
                }
            }
            
            // DERMATITIS SEBORREICA
            var nuevaSumaSintomasDerSebo = 0;
            for(var i in moduloPrecargado['dermatitisSeborreica']) {
                if(moduloPrecargado['dermatitisSeborreica'][i] != 'f'){
                    nuevaSumaSintomasDerSebo += moduloPrecargado['dermatitisSeborreica'][i];
                }
            }
            
            // OTITIS EXTERNA
            var nuevaSumaSintomasOtoExt = 0;
            for(var i in moduloPrecargado['otitisExterna']) {
                if(moduloPrecargado['otitisExterna'][i] != 'f'){
                    nuevaSumaSintomasOtoExt += moduloPrecargado['otitisExterna'][i];
                }
            }
            
            console.log("VALORES DE LOS SÍNTOMAS DE OTITIS EXTERNA:" + moduloPrecargado['otitisExterna']);
            console.log("NUEVA SUMA OTITIS EXTERNA:" + nuevaSumaSintomasOtoExt);
            console.log("SUMA ORIGINAL OTITIS EXTERNA:" + sumaModuloPrecargadoOtitisExterna);
            
            console.log("VALORES DE LOS SÍNTOMAS DE DERMATITIS:" + moduloPrecargado['dermatitisSeborreica']);
            console.log("NUEVA SUMA DERMATITIS:" + nuevaSumaSintomasDerSebo);
            console.log("SUMA ORIGINAL DERMATITIS:" + sumaModuloPrecargadoDermatitisSeborreica);
            
            // PRESBIACUSIA
            var nuevaSumaSintomasPresb = 0;
            for(var i in moduloPrecargado['presbiacusia']) {
                if(moduloPrecargado['presbiacusia'][i] != 'f'){
                    nuevaSumaSintomasPresb += moduloPrecargado['presbiacusia'][i];
                }
            }
            
            // COFOSIS
            var nuevaSumaSintomasCofosis = 0;
            for(var i in moduloPrecargado['cofosis']) {                
                if(moduloPrecargado['cofosis'][i] != 'f'){
                    nuevaSumaSintomasCofosis += moduloPrecargado['cofosis'][i];
                }
            }
            
            // PERICONDRITIS
            var nuevaSumaSintomasPeri = 0;
            for(var i in moduloPrecargado['pericondritis']) {
                if(moduloPrecargado['pericondritis'][i] != 'f'){
                    nuevaSumaSintomasPeri += moduloPrecargado['pericondritis'][i];
                }
            }
            
            // TRAUMATISMOS ACÚSTICOS
            var nuevaSumaSintomasTrauAcus = 0;
            for(var i in moduloPrecargado['traumatismosAcusticos']) {
                if(moduloPrecargado['traumatismosAcusticos'][i] != 'f'){
                    nuevaSumaSintomasTrauAcus += moduloPrecargado['traumatismosAcusticos'][i];
                }
            }            
            
            // DETERMINA LA ENFERMEDAD AUDITIVA QUE SE PADECE            
            var sumaValoresUsuario = 0;
            for(var i in valoresUsuario) {
                sumaValoresUsuario += parseFloat(valoresUsuario[i]);
            }
            
            // 1. Caso en que todos los síntomas sean 0 
            if(sumaValoresUsuario == 0) {
                // REDIRECCIONAR A PANTALLA DE NO TIENES ENFERMEDADES 
                location.href = '{% url 'EnfNoEnfermedades' %}';
                console.log("PANTALLA NO TIENES ENFERMEDADES");
            }
            
            // 2. Caso en que todos los síntomas sean 0 excepto los antecedentes familiares 
            if(sumaValoresUsuario == 1 && valoresUsuario[11] == 1) {
                // REDIRECCIONAR A PANTALLA DE NO TIENES ENFERMEDADES 
                location.href = '{% url 'EnfNoEnfermedades' %}';
                console.log("PANTALLA NO TIENES ENFERMEDADES");
            }

            // 3. Caso en que la suma de los valores de todos los síntomas del usuario ingresados sean menor al UMBRAL de 2
            if(sumaValoresUsuario < 2) {
                // REDIRECCIONAR A PANTALLA DE NO TIENES ENFERMEDADES 
                location.href = '{% url 'EnfNoEnfermedades' %}';                
                console.log("PANTALLA NO TIENES ENFERMEDADES");
                return;
            }           

            // 4. Caso en que los síntomas den un valor de 4.25 (se muestran dos posibles enfermedades auditivas: Tinnitus ó Otosclerosis)
            if(sumaValoresUsuario == 4.25) {
                location.href = '{% url 'EnfTinnitusOtosclerosis' %}';
                // REDIRECCIONAR A PANTALLA DE TINNITUSOTOSCLEROSIS
                console.log("PANTALLA TINNITUSOTOSCLEROSIS");
                return;
            }

            console.log("SUMA VALORES USUARIO: " + sumaValoresUsuario);
            
            // 5. Casos en que la suma original por fila del módulo precargado sea igual a la suma de todos los valores del arreglo de datos ingresados por el usuario             
            // TAPONES DE CERUMEN
            if(nuevaSumaSintomasTaponesCerumen == sumaModuloPrecargadoTaponesCerumen) {
                console.log("TIENES LA ENFERMEDAD DE TAPONES DE CERUMEN");
                location.href = '{% url 'EnfTaponesCerumen' %}';
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }
            // TINNITUS 
            if(nuevaSumaSintomasTinnitus == sumaModuloPrecargadoTinnitus) {
                console.log("TIENES LA ENFERMEDAD DE TINNITUS");
                location.href = '{% url 'EnfTinnitus' %}';
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }
            // OTOSCLEOROSIS 
            if(nuevaSumaSintomasOtosclerosis == sumaModuloPrecargadoOtoscleorosis) {
                console.log("TIENES LA ENFERMEDAD DE OTOSCLEOROSIS");
                location.href = '{% url 'EnfOtosclerosis' %}';
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }
            // OTEMATOMA 
            if(nuevaSumaSintomasOtematoma == sumaModuloPrecargadoOtematoma) {
                location.href = '{% url 'EnfOtematoma' %}';
                console.log("TIENES LA ENFERMEDAD DE OTEMATOMA");
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }

            // OTITIS EXTERNA
            if(nuevaSumaSintomasOtoExt == sumaModuloPrecargadoOtitisExterna) {
                location.href = '{% url 'EnfOtitisExterna' %}';
                console.log("TIENES LA ENFERMEDAD DE OTITIS EXTERNA");
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }

            // DERMATITIS SEBORREICA
            if(nuevaSumaSintomasDerSebo == sumaModuloPrecargadoDermatitisSeborreica) {
                location.href = '{% url 'EnfDermatitisSeborreica' %}';
                console.log("TIENES LA ENFERMEDAD DE DERMATITÍS SEBORRÉICA");
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }
            
            // PRESBIACUSIA
            if(nuevaSumaSintomasPresb == sumaModuloPrecargadoPresbiacusia) {
                location.href = '{% url 'EnfPresbiacusia' %}';
                console.log("TIENE LA ENFERMEDAD DE PRESBIACUSIA");
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }
            // COFOSIS
            if(nuevaSumaSintomasCofosis == sumaModuloPrecargadoCofosis) {
                location.href = '{% url 'EnfCofosis' %}';
                console.log("TIENES LA ENFERMEDAD DE COFOSIS");
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }
            // PERICONDRITIS
            if(nuevaSumaSintomasPeri== sumaModuloPrecargadoPericondritis) {
                location.href = '{% url 'EnfPericondritis' %}';
                console.log("TIENE LA ENFERMEDAD DE PERICONDRITIS");  
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }
            //TRAUMATISMOS ACÚSTICOS
            if(nuevaSumaSintomasTrauAcus == sumaModuloPrecargadoTraumatismosAcusticos) {
                location.href = '{% url 'EnfTraumatismosAcusticos' %}';
                console.log("TIENE LA ENFERMEDAD DE TRAUMATISMOS ACÚSTICOS");
                return;
            } else {
                location.href = '{% url 'EnfOtro' %}';
                console.log("OTRO");
            }            

            // 6. Caso en que los síntomas den un valor de 2.75 ó 3 (se muestran dos posibles enfermedades auditivas: Tapones de Cerumen ó Presbiacusia)
            if(sumaValoresUsuario == 2.75 || sumaValoresUsuario == 3) {
                location.href = '{% url 'EnfTaponesPresbiacusia' %}';
                // REDIRECCIONAR A PANTALLA DE TAPONESPRESBIACUSIA
                console.log("PANTALLA TAPONESPRESBIACUSIA");
            }

            // 7. Caso en que todos los síntomas sean 1 ó que la suma de los síntomas de cada fila de la enfermedad respectivamente sea mayor a su máximo número 4.75
            if(sumaValoresUsuario == 15 || sumaValoresUsuario >= 4.75) {
                // REDIRECCIONAR A PANTALLA DE NO TIENES ENFERMEDADES 
                location.href = '{% url 'EnfPeligro' %}';                
                console.log("PANTALLA CUIDADO VETE A CHECAR");
                return;
            }
            
        }
    </script>