{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermedad: Traumatismos Acústicos || Enfermedades Auditivas</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="icon" href="../static/img/ear.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background: -webkit-linear-gradient(to bottom, #ffffff, #bee1f1);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffffff, #bee1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .lead {
        text-align: justify;
        font-size: 1.3em;
    }
    
</style>

<body>
    <!-- Navbar Header -->
    <header style="position: fixed; width: -webkit-fill-available; z-index: 100;">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="../static/img/ear.png" height="30" alt="image">
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav3">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">                  
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'acerca' %}">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'instrucciones' %}">Instrucciones</a>
                        </li>
                        <li class="nav-item">
                            <strong><a class="nav-link" href="{% url 'index' %}">Examen</a></strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'autores' %}">Autores</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <!-- ENFERMEDAD TRAUMATISMOS ACÚSTICOS -->
    <section class="fdb-block" id="menu">
        <div class="container" style="height: 100vh;">
            <div class="row text-center">
                <div class="col-12" style="margin-top: 10%;">
                    <h1 style="font-family: 'Special Elite', cursive; font-weight: bold;">Resultado: Enfermedad de Traumatismos Acústicos</h1>
                </div>
            </div>
            <div class="row" style="display: flex; padding: 20px; justify-content: center;">
                <div class="row text-left align-items-center mt-3">
                    <div class="col-10 col-sm-6 m-auto m-lg-0 col-lg-4">
                        <img alt="image" class="img-fluid" src="../static/img/TRAUMA ACUSTICO.png">
                        <img alt="image" class="img-fluid" src="../static/img/TRAUMA ACUSTICO 2.png" style="margin-top: 40px;">
                    </div>
                    
                    <div class="col-12 col-lg-7 offset-lg-1 pt-4 pt-lg-0">
                        <h1>Traumatismos Acústicos</h1>
                        <p class="lead">
                            Los traumatismos acústicos son lesiones del oído interno debidas a la exposición a ruidos muy fuertes. Es una causa muy común de sordera ya que el tímpano es muy sensible a vibraciones superiores a las que puede soportar.
                        </p>
                        
                        <div class="row mt-5">
                            <div class="col-12 col-sm-6">
                                <h3><strong>Síntomas</strong></h3>
                                <p class="lead">Pérdida de audición, aunque el tinnitus suele ser también muy común. 
                                </p>
                            </div>
                            
                            <div class="col-12 col-sm-6 pt-3 pt-sm-0">
                                <h3><strong>Tratamiento</strong></h3>
                                <p class="lead">El daño es irreversible, por lo que el tratamiento solo se aplica si el daño al tímpano es extremadamente grande y hace falta una cirugía.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </section>
    
</body>
</html>