{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home || Enfermedades Auditivas</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="icon" href="../static/img/ear.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background: -webkit-linear-gradient(to bottom, #ffffff, #bee1f1);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffffff, #bee1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

</style>

<body>
    <!-- Navbar Header -->
    <header style="position: fixed; width: -webkit-fill-available; z-index: 100;">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="../static/img/ear.png" height="30" alt="image">
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav3">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">                  
                            <strong><a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'acerca' %}">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'instrucciones' %}">Instrucciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Examen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'autores' %}">Autores</a>
                        </li>
                    </ul>
                    
                    <!-- <a class="btn btn-outline-primary ml-md-3" href="#">High Scores</a> -->
                </div>
            </nav>
        </div>
    </header>
    
    <!-- Home -->
    <section class="fdb-block" id="home">
        <div class="container">
            <div class="row align-items-center" style="height: 100vh;">
                <div class="col-12 col-md-12 col-lg-5 col-xl-5" style="display: flex; flex-direction: column;">
                    <h5>¿Sientes malestares auditivos?</h5>
                    <h5>¿Te cuesta escuchar sonidos leves?</h5>
                    <h1 class="mb-4 mt-3" style="font-size: 3.5em; color: rgb(0, 71, 71); font-family: 'Special Elite', cursive; font-weight: 500;">Test de Enfermedades Auditivas</h1>
                    <h5 class="mb-3" style="font-size: 1.2em;">¡Prueba nuestro test y descubre si posiblemente tengas alguna enfermedad auditiva!</h5>
                    
                    <button onclick="location.href='{% url 'instrucciones' %}' "; class="btn btn-primary mb-3">Comenzar</button>
                    <p><strong>Disponible en:</strong></p>
                    <p class="h1 text-muted">
                        <i class="fab fa-chrome mr-3"></i>
                        <i class="fab fa-safari mr-3"></i>
                        <i class="fab fa-firefox mr-3"></i>
                        <i class="fab fa-edge"></i>
                    </p>
                </div>
                <div class="col-12 col-md-8 m-auto ml-lg-auto mr-lg-0 col-lg-7 pt-5 pt-lg-0">
                    <img alt="image" class="img-fluid" src="../static/img/enfAuditivasPortada.png">
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>