{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones || Enfermedades Auditivas</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="icon" href="../static/img/ear.png" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background: -webkit-linear-gradient(to bottom, #ffffff, #bee1f1);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffffff, #bee1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .carousel-caption {
        background: -webkit-linear-gradient(to bottom, #ffffff, #bee1f1);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffffff, #bee1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
        border-radius: 20px; 
        padding: 20px;
    }
</style>

<body>
    <!-- Navbar Header -->
    <header style="position: fixed; width: -webkit-fill-available; z-index: 100;">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="../static/img/ear.png" height="30" alt="image">
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav3">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">                  
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'acerca' %}">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <strong><a class="nav-link" href="{% url 'instrucciones' %}">Instrucciones</a></strong>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Examen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'autores' %}">Autores</a>
                        </li>
                    </ul>
                    
                    <!-- <a class="btn btn-outline-primary ml-md-3" href="#">High Scores</a> -->
                </div>
            </nav>
        </div>
    </header>
    
    <!-- Instrucciones -->
    <section class="fdb-block" id="menu">
        <div class="container" style="height: 100vh;">
            <div class="row text-center">
                <div class="col-12" style="margin-top: 10%;">
                    <h1 style="font-family: 'Special Elite', cursive; font-weight: bold;">Instrucciones</h1>
                </div>
            </div>
            <div class="row" style="display: flex; padding: 20px; justify-content: center;">
                <div class="row text-center justify-content-center mt-5">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <img alt="image" class="fdb-icon" src="../static/img/symptoms.png" width="100">
                        <h3><strong>Identifica tus Síntomas</strong></h3>
                        <p>Analiza qué malestares auditivos estás sintiendo y cómo te has sentido los últimos días. <br> ¿Has tenido pérdida auditiva? ¿Fiebre? ¿Taponamiento de oídos?</p>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-lg-3 pt-4 pt-sm-0">
                        <img alt="image" class="fdb-icon" src="../static/img/answer.png" width="100">
                        <h3><strong>Selecciona tus Respuestas</strong></h3>
                        <p>Se te presentarán una serie de 15 preguntas donde deberás responder con sinceridad para así analizar qué enfermedad auditiva es probable que padezcas</p>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-lg-3 pt-4 pt-lg-0">
                        <img alt="image" class="fdb-icon" src="../static/img/read.png" width="100">
                        <h3><strong>Revisa tus Resultados</strong></h3>
                        <p>Revisa los resultados del test y lee los apartados donde se te dará más información acerca de las posibles enfermedades auditivas que padezcas, así como sus nombres, orígenes y tratamientos</p>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-lg-3 pt-4 pt-lg-0">
                        <img alt="image" class="fdb-icon" src="../static/img/doctor.png" width="100">
                        <h3><strong>Consulta a tu Médico</strong></h3>
                        <p>Recuerda que este test no es 100.00% acertado, así que te recomendamos que siempre consultes a tu médico de confianza antes de seguir algún tratamiento o automedicarse</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-12 pt-4 pt-lg-0 mt-4" style="display: flex; justify-content: center;">
                <button class="btn btn-success">Comenzar Test</button>
            </div>
        </div>
    </section>
    
</body>
</html>